<!-- App footer -->
<footer id="colophon" class="footer bg-white" role="contentinfo">
    <div class="footer__row">
        <div class="lists-holder">
            <ul class="lists lists--inline lists--vbar footer-quick-links">
                <li class="lists__item"><a href="" class="lists__link text-muted"><u>Report a bug</u></a></li>
                <li class="lists__item"><a href="" class="lists__link text-muted"><u>Terms & Privacy</u></a></li>
                <li class="lists__item"><a href="" class="lists__link text-muted"><u>FAQ</u></a></li>
                <li class="lists__item"><a href="" class="lists__link text-muted"><u>Help</u></a></li>
            </ul>
        </div>
    </div>
</footer><!-- /.App footer ends -->
