<!-- Load necessary components to display on home page -->

<!-- Rendering home page welcome screen component -->
<app-welcome-screen></app-welcome-screen>
<!-- ./Home page welcome screen component ends -->

<!-- Rendering home page about us intro component -->
<app-intro></app-intro>
<!-- ./Home page about us intro component ends -->

<!-- Rendering home page features component -->
<app-features></app-features>
<!-- ./Home page features component ends -->

<!-- Rendering home page shared footer component -->
<app-shared-footer></app-shared-footer>
<!-- ./Home page shared footer component ends -->