<!-- Home page intro section -->
<section class="block block--text block--intro space-y-sm pb-0 bg-white text-center">
    <div class="container container--sm">
        <header class="block__header mb-2 pb-1">
            <h6 class="block__subtitle text-muted text-uppercase letter-spacing-3">About</h6>
            <h2 class="block__title mb-0">About Bitcoin Mixer</h2>
        </header>
        <div class="block__body">
            <p class="text-lg">CTemplar Bitcoin mixer allows you to make your bitcoin transaction anonymus.  It is critical for anyone who doesn’t want somebody to know from where they recive bitcoins or where they send it.</p>
        </div>
    </div>
</section><!-- /.Home page intro section ends -->
