/*
** @partial: _footer.scss
*/

#colophon {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 1.5rem; //~3.125rem;
}

.footer-quick-links {
  .lists__link {
    font-size: 0.75rem;

    &:hover {
      color: darken(#757575, 5%) !important;
    }
  }
}