<!-- Home page hero banner -->
<section class="promo promo--hero">
  <div class="promo__body">
    <figure class="promo__picture-holder mb-0">
      <img alt="Ctemplar Mixer Hero Banner" class="promo__picture" src="assets/images/home/banner@2x.png"/>
    </figure>

    <div class="promo__content is-floated center text-center text-white">
      <h1 class="promo__title text-white">CTemplar Bitcoin Mixer</h1>
      <h4 class="promo__subtitle text-white">Privacy. Trust. Protection</h4>
      <a href="" class="btn btn-gradient-secondary btn-lg promo__btn" type="button" routerLink="mixer">Start Mixing</a>
      <a href="" class="btn btn-gradient-info btn-lg promo__btn ml-2" routerLink="status">Status Page</a>
    </div>
  </div>
</section><!-- /.Home page hero banner ends -->
