<!-- Home page features section -->
<section class="block block--features space-y-lg bg-white text-center">
    <div class="container">
        <div class="block__body">
            <div class="card-holder mb-10">
                <div class="row">
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <div class="card card--features has-feature-icon justify-content-start">
                        <div class="card__body">
                            <figure class="card__img-holder"><img alt="Bitcoin Address" class="card__img" src="assets/images/home/enter-address.svg" /></figure>
                            <h4 class="card__title text-capitalize">Enter bitcoin Address</h4>
                            <p class="text-alt">Enter up to 8 Addresses with custom settings for each</p>
                        </div>
                        <div class="card__picto">
                            <i class="icon icon-arrow-right icon-md text-secondary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-4 mb-sm-0">
                    <div class="card card--features has-feature-icon justify-content-center">
                        <div class="card__body">
                            <figure class="card__img-holder"><img alt="Bitcoin Address" class="card__img" src="assets/images/home/send-coins.svg" /></figure>
                            <h4 class="card__title text-capitalize">Send Your Coins</h4>
                            <p class="text-alt">To begin the mix, send your Bitcoin to the Addresses provided by our mixer</p>
                        </div>
                        <div class="card__picto pushed-right">
                            <i class="icon icon-arrow-right icon-md text-secondary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card card--features justify-content-end">
                        <div class="card__body">
                            <figure class="card__img-holder"><img alt="Bitcoin Address" class="card__img" src="assets/images/home/recive-coins.svg" /></figure>
                            <h4 class="card__title text-capitalize">Receive your clean coins</h4>
                            <p class="text-alt">New Bitcoins will be send to <br/> addresses you provided</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <footer class="block__footer">
            <div class="btn-holder d-flex justify-content-center">
                <a href="" class="btn-link btn-link-dark letter-spacing-1 has-icon right">Learn More <i class="icon icon-arrow-pointing-right"></i></a>
            </div>
        </footer>
    </div>
</section><!-- /.Home page features section ends -->
