<!-- Wider / Fluid layout section -->
<section class="block block--fluid">
  <div class="tile-container">
    <div class="row justify-content-center">
      <div class="col-sm-8 tile-container__item tile-container__item--sm">
        <div class="bg-card">
          <header class="bg-card__header">
            <h4 class="bg-card__title"><strong>Status Page</strong></h4>
          </header>
          <div class="bg-card__body bg-faded text-center">
            <div class="text-content mb-6 mt-4">
              <h5>Send Bitcoins to</h5>
              <div class="h5 mb-1"><strong>4OrPh7ssHUwwE2ZJnqf1WdprwHu5i3tT3e</strong></div>
              <div class="h6 text-warning"><strong>min 0,001, max 64.183</strong></div>
              <figure class="scan-qr-code-holder"><img alt="" class="img" src="assets/images/scan-QR-code.png" /> </figure>
              <div class="h5 mb-3"><strong>Status: <span class="text-info">Waiting for payment…</span></strong></div>
              <p>You have about 15 hours to send Bitcoins. After that address will be removed from the server and any transactiona sent will be lost.</p>
            </div>
            <div class="h5">Your CTemplar Code: <strong>nih98obn</strong> <i class="icon icon-info icon-sm ml-1"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
