<!-- Shared footer -->
<section class="block block--skewed is-clipped top right space-y-lg pt-0 bg-faded text-center">
    <div class="container container--xs position-relative">
        <header class="block__header mb-2 pb-1">
            <div class="brand-logo">
                <figure class="brand-logo__holder mb-6">
                    <img alt="CTemplar Mixer" class="brand-logo__img" src="assets/images/logo.svg" />
                </figure>
            </div>
            <h3 class="block__title mb-0">Recive your clean Bitcoins  Now!</h3>
        </header>
        <div class="block__body">
            <p class="text-lg text-disabled mb-4">Best way to keep your Bitcoin safe and private</p>
            <a href="" class="btn btn-gradient-secondary btn-lg" type="button" routerLink="mixer">Start Mixing</a>
        </div>
    </div>
</section><!-- /.Shared footer ends -->